<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <!--Fragmento Head-->
  <div th:replace="fragments/head :: head"></div>

  <body class="">
    <div class="wrapper">
      <!-- Sidebar Fragment -->
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <div class="main-panel">
        <!-- Navbar Fragment -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!--Main-->
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-user">
                <div class="card-body">
                  <div class="card-text">
                    <div class="author">
                      <div class="block block-one"></div>
                      <div class="block block-two"></div>
                      <div class="block block-three"></div>
                      <div class="block block-four"></div>
                      <a href="javascript:void(0)">
                        <img
                          class="avatar"
                          src="img/default-avatar.png"
                          alt="foto-usuário"
                        />
                        <h5 class="title">Usuario do sistema</h5>
                      </a>
                      <p class="description">Função</p>
                    </div>
                  </div>
                  <div class="card-description text-center">
                    Corleone MedLife faz parte grupo fictício Corleone, criado
                    em 2022 para desenvolver projetos autorais de estudos.
                  </div>
                </div>
                <div class="card-footer">
                  <div class="button-container">
                    <button
                      onclick="window.open('https://www.facebook.com/', '_blank')"
                      class="btn btn-icon btn-round btn-facebook"
                    >
                      <i class="fab fa-facebook"></i>
                    </button>
                    <button
                      onclick="window.open('https://www.instagram.com/', '_blank')"
                      class="btn btn-icon btn-round btn-twitter"
                    >
                      <i class="fab fa-instagram"></i>
                    </button>
                    <button
                      onclick="window.open('https://twitter.com/', '_blank')"
                      class="btn btn-icon btn-round btn-google"
                    >
                      <i class="fab fa-twitter"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title">Consultas</h4>
                <p class="category" id="data-hoje">data de hj</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter" id="">
                    <thead class="text-primary">
                      <tr>
                        <th>Cod.</th>
                        <th>Data</th>
                        <th>Paciente</th>
                        <th>Médico</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody th:each=" c : ${consultas}">
                      <td th:text="${c.id}"></td>
                      <td th:text="${{c.data}}"></td>
                      <td th:text="${c.paciente.nome}"></td>
                      <td th:text="${c.medico.nome}"></td>
                      <td th:text="${c.status}"></td>
                    </tbody>
                  </table>
                </div>
                <!--Paginação-->
                <div class="mt-5" th:if="${lista}">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${consultas.hasPrevious()}">
                      <a
                        class="page-link"
                        th:href="@{/home(page=${consultas.number - 1})}"
                        aria-label="Previous"
                      >
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                      </a>
                    </li>

                    <li
                      class="page-item"
                      th:each=" i: ${#numbers.sequence(0, consultas.totalPages - 1)}"
                    >
                      <a
                        style="background-color: #ba54f5"
                        class="page-link"
                        th:href="@{/home(page=${i})}"
                        th:if="${i == consultas.number}"
                        >[[${i + 1}]]</a
                      >
                      <a
                        class="page-link"
                        th:href="@{/home(page=${i})}"
                        th:if="${i != consultas.number}"
                        >[[${i + 1}]]</a
                      >
                    </li>

                    <li class="page-item" th:if="${consultas.hasNext()}">
                      <a
                        class="page-link"
                        th:href="@{/home(page=${consultas.number + 1})}"
                        aria-label="Next"
                      >
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próximo</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!--Paginação-->
              </div>
            </div>
          </div>
        </div>
        <!--End Main-->
        <!--Footer fragment-->
        <div th:replace="fragments/footer :: footer"></div>
      </div>
    </div>
    <!--Colortheme fragment-->
    <div th:replace="fragments/colortheme :: colortheme"></div>
    <!--Javascript fragment-->
    <div th:replace="fragments/javascript :: javascript"></div>
  </body>

  <!--Mostrando a data de hoje na tabela de consultas-->
  <script>
    document.getElementById("data-hoje").innerHTML =
      "Data de hoje: " + new Date().toLocaleDateString();
  </script>
</html>
