<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <!--Fragmento Head-->
  <div th:replace="fragments/head :: head"></div>

  <body class="">
    <div class="wrapper">
      <!-- Sidebar Fragment -->
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <div class="main-panel">
        <!-- Navbar Fragment -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!--Main-->
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="card-title">Usuarios do Sistema</h4>
                  <form
                    class="form-inline my-2 my-lg-0"
                    th:action="@{/admin/buscar}"
                  >
                    <input
                      class="form-control mr-sm-2"
                      type="search"
                      placeholder="Digite o nome"
                      aria-label="Search"
                      name="nome"
                      autocomplete="off"
                    />
                    <button
                      class="btn btn-outline-success my-2 my-sm-0"
                      type="submit"
                    >
                      Buscar
                    </button>
                    <button
                      class="btn btn-outline-success my-2 my-sm-0"
                      type="button"
                      data-toggle="modal"
                      data-target="#modal-cadastro"
                    >
                      Novo Usuário
                    </button>
                    <span
                      class="text-warning"
                      th:if="${erro}"
                      style="margin-left: 15%"
                      th:text="${erro}"
                    ></span>
                  </form>
                </div>
                <span class="ml-4 mt-1" th:text="${registros}"></span>
                <div class="card-body mt-3">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="">
                      <thead class="text-primary">
                        <tr>
                          <th>ID</th>
                          <th>Nome</th>
                          <th>Telefone</th>
                          <th>Cargo</th>
                          <th class="text-center">Editar</th>
                          <th class="text-center">Excluir</th>
                          <th class="text-center">CRM</th>
                        </tr>
                      </thead>
                      <tbody th:each=" u : ${usuarios}">
                        <tr>
                          <td th:text="${u.id}"></td>
                          <td th:text="${u.nome}"></td>
                          <td th:text="${u.telefone}"></td>
                          <td th:text="${u.role.roleType}"></td>

                          <td class="text-center">
                            <a
                              class="tim-icons icon-refresh-01"
                              href="#"
                              th:attr="onclick=|editarView('${u.id}','${u.nome}','${u.telefone}','${u.login}','${u.senha}','${u.role.roleType}')|"
                              data-toggle="modal"
                              data-target="#modal-editar"
                            ></a>
                          </td>
                          <td class="text-center">
                            <a
                              class="tim-icons icon-trash-simple"
                              th:href="@{/admin/excluir/{id}(id=${u.id})}"
                              th:data-confirm-delete="|Você gostaria de apagar ${u.nome}?|"
                              onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false "
                            ></a>
                          </td>
                          <td
                            class="text-center"
                            th:each=" m: ${medicos}"
                            th:if="${u.id} == ${m.id}"
                            th:text="${m.crm}"
                          ></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Main-->
        <!--Footer fragment-->
        <div th:replace="fragments/footer :: footer"></div>
      </div>
    </div>
    <!--Colortheme fragment-->
    <div th:replace="fragments/colortheme :: colortheme"></div>
    <!-- Modal Novo usuário -->
    <div
      class="modal fade"
      id="modal-cadastro"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-cadastroLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="cadastro">Cadastrar Usuário</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="display: inline-block">
            <form th:action="@{/admin/salvar}" method="POST" id="form-salvar">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Login</label>
                  <input
                    required
                    type="text"
                    class="form-control"
                    style="color: black"
                    placeholder="username"
                    name="username"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label>Senha</label>
                  <input
                    required
                    type="text"
                    class="form-control"
                    style="color: black"
                    placeholder="password"
                    name="password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Nome</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  style="color: black"
                  placeholder="nome do usuário"
                  name="nome"
                  autocomplete="off"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Telefone</label>
                  <input
                    required
                    type="text"
                    class="form-control"
                    style="color: black"
                    placeholder="telefone"
                    name="telefone"
                    autocomplete="off"
                  />
                </div>
                <div
                  class="form-group col-md-6"
                  id="mostrar-crm"
                  style="display: none"
                >
                  <label>CRM</label>
                  <input
                    type="number"
                    class="form-control"
                    style="color: black"
                    placeholder="crm"
                    name="crm"
                    id="salvar-crm"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Cargo</label>
                <select
                  required
                  onchange="mostraCampo(this)"
                  class="custom-select"
                  style="
                    color: black;
                    border: 1px solid #2b3553;
                    border-radius: 0.4285rem;
                  "
                  name="roleType"
                >
                  <option selected value="">Selecione o cargo</option>
                  <option
                    th:each=" r : ${roles}"
                    th:text="${r.roleType}"
                  ></option>
                </select>
              </div>
              <div
                class="mt-3 row d-flex justify-content-center"
                style="align-items: center"
              >
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  onclick="form.reset()"
                >
                  Fechar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Novo usuário fim -->
    <!-- Modal editar usuário -->
    <div
      class="modal fade"
      id="modal-editar"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-editarLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Editar Usuário</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="display: inline-block">
            <form th:action="@{/admin/editar}" method="POST" id="form-editar">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="hidden" id="editar-id" name="id" />
                  <label>Login</label>
                  <input
                    readonly
                    id="editar-username"
                    type="text"
                    class="form-control"
                    style="color: black; background-color: #bbc1d1"
                    placeholder="username"
                    name="username"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label>Senha</label>
                  <input
                    readonly
                    style="color: black; background-color: #bbc1d1"
                    id="editar-password"
                    type="text"
                    class="form-control"
                    placeholder="password"
                    name="password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Nome</label>
                <input
                  required
                  id="editar-nome"
                  type="text"
                  class="form-control"
                  style="color: black"
                  placeholder="nome do usuário"
                  name="nome"
                  autocomplete="off"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Telefone</label>
                  <input
                    id="editar-telefone"
                    required
                    type="text"
                    class="form-control"
                    style="color: black"
                    placeholder="telefone"
                    name="telefone"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Cargo</label>
                <select
                  class="custom-select"
                  style="
                    color: black;
                    border: 1px solid #2b3553;
                    border-radius: 0.4285rem;
                  "
                  name="roleType"
                  id="roleType"
                >
                  <option id="editar-cargo"></option>
                </select>
              </div>
              <div
                class="mt-3 row d-flex justify-content-center"
                style="align-items: center"
              >
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Fechar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal editar usuário fim -->

    <!--Script para mostrar CRM no cadastro, se for selecionado MEDICO-->
    <script>
      function mostraCampo(el) {
        var crm = document.getElementById("mostrar-crm");
        var editar = document.getElementById("salvar-crm");
        if (el.value === "MEDICO") {
          crm.style.display = "block";
          $("#salvar-crm").prop("required", true);
        } else {
          crm.style.display = "none";
          $("#salvar-crm").prop("required", false);
        }
      }
    </script>

    <!-- Script para preencher o modal de editar-usuario -->
    <script>
      function editarView(id, nome, telefone, username, password, roleType) {
        $("#editar-id").val(id);
        $("#editar-username").val(username);
        $("#editar-password").val(password);
        $("#editar-nome").val(nome);
        $("#editar-telefone").val(telefone);
        $("#editar-cargo").text(roleType);
      }
    </script>
    <!--Javascript fragment-->
    <div th:replace="fragments/javascript :: javascript"></div>
  </body>
</html>
