<footer class="footer" th:fragment="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link">
          Java, Thymeleaf, Spring Boot, Spring MVC, Spring Security, Spring JPA,
          HTML, CSS, JS, PostgreSQL, Maven, Tomcat 9, Git e Github,
          Bootstrap(Creative Tim Template)
        </a>
      </li>
    </ul>
    <div class="copyright">
      Projeto realizado por Hideyuki Takahashi, 2022.
      <a
        href="https://github.com/Dev-HideyukiTakahashi/corleone-medlife"
        target="_blank"
      >
        Github</a
      >
    </div>
  </div>
</footer>
