<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <!--Fragmento Head-->
  <div th:replace="fragments/head :: head"></div>

  <body class="">
    <div class="wrapper">
      <!-- Sidebar Fragment -->
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <div class="main-panel">
        <!-- Navbar Fragment -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!--Main-->
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="card-title">Pacientes em Sistema</h4>
                  <form
                    class="form-inline my-2 my-lg-0"
                    action="/pacientes/buscar"
                  >
                    <input
                      class="form-control mr-sm-2"
                      type="search"
                      placeholder="Digite o nome"
                      aria-label="Search"
                      autocomplete="off"
                      th:value="${nomeBusca}"
                      name="nomeBusca"
                    />
                    <button
                      class="btn btn-outline-success my-2 my-sm-0"
                      type="submit"
                    >
                      Buscar
                    </button>
                    <a
                      class="btn btn-outline-success my-2 my-sm-0"
                      th:href="@{/pacientes/salvar}"
                    >
                      Novo Paciente
                    </a>
                    <span class="text-warning" style="margin-left: 15%"></span>
                    <span
                      class="text-success"
                      th:if="${sucesso}"
                      style="margin-left: 15%"
                      th:text="${sucesso}"
                    ></span>
                  </form>
                </div>
                <span class="ml-4 mt-1" th:text="${registros}"></span>
                <div class="card-body mt-3">
                  <div>
                    <table class="table tablesorter" id="">
                      <thead class="text-primary">
                        <tr>
                          <th>Nome</th>
                          <th>CPF</th>
                          <th>Telefone</th>
                          <th>Email</th>
                          <th class="text-center">Whatssap</th>
                          <th class="text-center">Editar</th>
                          <th class="text-center">Detalhes</th>
                        </tr>
                      </thead>
                      <tbody th:each=" p : ${pacientes}">
                        <tr>
                          <td th:text="${p.nome}"></td>
                          <td th:text="${p.cpf}"></td>
                          <td th:text="${p.telefone}"></td>
                          <td th:text="${p.email}"></td>
                          <td class="text-center">
                            <a
                              th:href="@{https://api.whatsapp.com/send?phone={telefone}(telefone=${p.telefone})}"
                              target="_blank"
                              class="tim-icons icon-mobile"
                            ></a>
                          </td>
                          <td class="text-center">
                            <a
                              class="tim-icons icon-refresh-01"
                              th:href="@{/pacientes/editar/{id}(id=${p.id})}"
                            ></a>
                          </td>
                          <td class="text-center">
                            <a
                              class="tim-icons icon-zoom-split"
                              th:href="@{/pacientes/detalhes/{id}(id=${p.id})}"
                            ></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!--Paginação-->
                  <div class="mt-5" th:if="${lista}">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" th:if="${pacientes.hasPrevious()}">
                        <a
                          class="page-link"
                          th:href="@{/pacientes/buscar(page=${pacientes.number - 1}, nomeBusca =${nomeBusca})}"
                          aria-label="Previous"
                        >
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Anterior</span>
                        </a>
                      </li>

                      <li
                        class="page-item"
                        th:each=" i: ${#numbers.sequence(0, pacientes.totalPages - 1)}"
                      >
                        <a
                          style="background-color: #ba54f5"
                          class="page-link"
                          th:href="@{/pacientes/buscar(page=${i}, nomeBusca =${nomeBusca})}"
                          th:if="${i == pacientes.number}"
                          >[[${i + 1}]]</a
                        >
                        <a
                          class="page-link"
                          th:href="@{/pacientes/buscar(page=${i}, nomeBusca =${nomeBusca})}"
                          th:if="${i != pacientes.number}"
                          >[[${i + 1}]]</a
                        >
                      </li>

                      <li class="page-item" th:if="${pacientes.hasNext()}">
                        <a
                          class="page-link"
                          th:href="@{/pacientes/buscar(page=${pacientes.number + 1}, nomeBusca =${nomeBusca})}"
                          aria-label="Next"
                        >
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Próximo</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!--Paginação-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Main-->
        <!--Footer fragment-->
        <div th:replace="fragments/footer :: footer"></div>
      </div>
    </div>
    <!--Colortheme fragment-->
    <div th:replace="fragments/colortheme :: colortheme"></div>
    <!--Javascript fragment-->
    <div th:replace="fragments/javascript :: javascript"></div>
  </body>
</html>
